<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Detail</title>
		<meta name="description" content="Page to view Individual Records ">
		<meta name="author" content="Faiza Javed">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Business Expense Records</h1>
                <center> <ul class="menu">
              <li><a  href="/">Expenses</a></li>
              <li><a href="/expenses/add">Add New Expense</a></li>
              <li>  <a href="/logout">Log out</a> </li>      
            </ul> </center>            
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>  
            <center><h2>User {{expense.userid}} {{expense.title}}</h2> 
                <br>
             <figure>
           <img src="{{host}}/avatars/{{expense.receiptImage}}" />
                <figcaption> Item: {{expense.title}}</figcaption>
            </figure></center>
            <br>
            <p class = "receiptDescription">Purchased by: User {{expense.userid}} <br>
                Title: {{expense.title}}, <br>
            Price: £{{expense.price}}, <br>
            Description: {{expense.description}}, <br>
            Date of Purchase: {{expense.dateOfExpense}}. </p>
		</main>
           <center class="fixed top left">
            <button class="back">Back</button>
           </center>
        <br>
        </body>
	<footer>
       <p><a href="/">Home page</a></p>
	</footer>
</html>
